In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import ast

In [2]:
data = pd.read_csv('data/flats.csv')
df = pd.DataFrame(data)

KeyError: 'SuperBuildUp_adjusted_area'

In [5]:
df.describe().T

,count,unique,top,freq
property_name,3008,402,2 BHK Flat in Sohna,125
link,3008,2874,https://www.99acres.com/4-bhk-bedroom-apartmen...,2
society,3007,636,SS The Leaf3.8 ★,73
price,3007,439,1.25 Crore,79
area,2996,2128,"₹ 10,000/sq.ft.",19
areaWithType,3008,1932,Super Built up area 1950(181.16 sq.m.)Carpet a...,17
bedRoom,3008,6,3 Bedrooms,1439
bathroom,3008,7,2 Bathrooms,1047
balcony,3008,5,3 Balconies,977
additionalRoom,1694,49,Servant Room,630
address,3002,1287,"Sohna, Gurgaon, Haryana",77
floorNum,3006,550,2nd of 4 Floors,74
facing,2127,8,North-East,506
agePossession,3007,48,1 to 5 Year Old,1479
nearbyLocations,2913,599,"['Airia Mall Sector 68', 'Southern Peripheral ...",73
description,3008,2787,Best in class property available at sohna loca...,7
furnishDetails,2203,1367,[],367
features,2594,1438,"['Feng Shui / Vaastu Compliant', 'Security / F...",290
rating,2676,341,"['Green Area5 out of 5', 'Construction4 out of...",128
property_id,3008,2874,L69620694,2

In [6]:
df.shape

(3008, 20)

In [7]:
df.isna().sum()/df.shape[0]*100

property_name       0.000000
link                0.000000
society             0.033245
price               0.033245
area                0.398936
areaWithType        0.000000
bedRoom             0.000000
bathroom            0.000000
balcony             0.000000
additionalRoom     43.683511
address             0.199468
floorNum            0.066489
facing             29.288564
agePossession       0.033245
nearbyLocations     3.158245
description         0.000000
furnishDetails     26.761968
features           13.763298
rating             11.037234
property_id         0.000000
dtype: float64

### Handling Null Values

In [8]:
df[df['society'].isna()]
df.fillna({'society':'Umang Monsoon Breeze'}, inplace = True)

In [9]:
df.fillna({
    'additionalRoom':'unavailable',
    'facing':'unavailable',
    'features':'unavailable',
    'furnishDetails':'unavailable',
    'features': 'unavailable',
    'rating': 'unavailable',
    'nearbyLocations': 'unavailable',
}, inplace = True)

In [10]:
df.dropna(subset=['address','facing', 'agePossession','floorNum','area'], inplace = True)

In [12]:
def split_property_name(value):
    parts = re.split(r'\s+in\s+', value, flags=re.IGNORECASE, maxsplit=1)
    if len(parts) == 2:
        return pd.Series([parts[0].strip(), parts[1].strip()])
    else:
        return pd.Series([value.strip(), None])

# Apply the function
df[['property_name', 'sector']] = df['property_name'].apply(split_property_name)

df.head()

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,...,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,sector
0,2 BHK Flat,https://www.99acres.com/2-bhk-bedroom-apartmen...,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,unavailable,...,4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ...",C68850746,Krishna Colony
1,2 BHK Flat,https://www.99acres.com/2-bhk-bedroom-apartmen...,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,unavailable,...,1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ...",H68850564,Ashok Vihar
2,2 BHK Flat,https://www.99acres.com/2-bhk-bedroom-apartmen...,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,unavailable,...,12nd of 14 Floors,unavailable,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",unavailable,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ...",J68850120,Sohna
3,2 BHK Flat,https://www.99acres.com/2-bhk-bedroom-apartmen...,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,...,2nd of 4 Floors,unavailable,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,unavailable,"['Security / Fire Alarm', 'Private Garden / Te...",unavailable,S68849476,Sector 61 Gurgaon
4,2 BHK Flat,https://www.99acres.com/2-bhk-bedroom-apartmen...,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,...,5th of 8 Floors,unavailable,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],unavailable,"['Environment5 out of 5', 'Safety3 out of 5', ...",L47956793,Sector 92 Gurgaon

In [14]:
def convert_in_crore(value):
    value= value.strip().lower()
    if 'lac' in value:
        num =float(value.replace('lac', '').strip())
        return round(num/100,2)
        #print(num)
    elif 'crore' in value:
        num =float(value.replace('crore', '').strip())
        return round(num,2)

df['price in crore'] = df['price'].apply(convert_in_crore)

In [16]:
new_df = df.drop(columns = ['price', 'link', 'description','property_id'], axis = 1)

In [20]:
def remove_bedroom(value):
    value= value.strip().lower()
    if 'bedrooms' in value:
        num =int(value.replace('bedrooms', '').strip())
        return num
    elif'bedroom' in value: 
        num = int(value.replace('bedroom', '').strip())
        return num
new_df['bedRoom']= new_df['bedRoom'].apply(remove_bedroom)

In [21]:
def remove_bathroom(value):
    value= value.strip().lower()
    if 'bathrooms' in value:
        num =int(value.replace('bathrooms', '').strip())
        return num
    elif'bathroom' in value: 
        num = int(value.replace('bathroom', '').strip())
        return num
new_df['bathroom']= new_df['bathroom'].apply(remove_bathroom)

In [22]:

def clean_balcony(value):
    return re.sub(r'(?i)\b(balcony|balconies)\b', '', str(value)).strip()

new_df['balcony'] = new_df['balcony'].apply(clean_balcony)

In [28]:
def remove_symbols(value):
    if pd.isnull(value):
        return value
    return re.sub(r'[^a-zA-Z0-9\s]', '', str(value))
new_df['society'] = new_df['society'].apply(remove_symbols)

In [29]:
def remove_symbols_sqr(value):
    if pd.isnull(value):
        return value
    return re.sub(r'[^0-9\s]', '', str(value))
new_df['area'] = new_df['area'].apply(remove_symbols_sqr)

In [30]:
new_df.rename(columns={'area': 'area_price_pre_sqft'}, inplace=True)

In [32]:
def extract_area(area_str):
    if pd.isnull(area_str):
        return None
    m = re.search(r'(\d+)', area_str)
    return float(m.group(1)) if m else None

def get_area_type(area_str):
    if pd.isnull(area_str):
        return None
    s = area_str.lower()
    if 'carpet' in s:
        return 'carpet'
    elif 'built up' in s:
        return 'built up'
    elif 'super built up' in s:
        return 'super built up'
    else:
        return 'unknown'

dff = new_df

dff['original_area'] = dff['areaWithType'].apply(extract_area)
dff['area_type'] = dff['areaWithType'].apply(get_area_type)

# Convert to SBA
def to_sba(row):
    if row['area_type'] == 'carpet':
        return row['original_area'] / 0.7
    elif row['area_type'] == 'built up':
        return row['original_area'] * 1.1
    else:
        return row['original_area']

dff['SuperBuildUp_adjusted_area'] = dff.apply(to_sba, axis=1)

# Recalculate price_per_sqft so total price stays the same:
# Note: You need to convert crore to actual value
dff['price_in_rs'] = dff['price in crore'] * 1e7

dff['adjusted_price_per_sqft'] = dff['price_in_rs'] / dff['SuperBuildUp_adjusted_area']

In [33]:
dff.drop(columns=['price_in_rs','areaWithType','area_price_pre_sqft','address'], inplace = True)

In [35]:
l =['Others', 'Pooja Room','Servant Room', 'Study Room','unavailable','Store Room']

In [36]:
def additional_room_sorted(value):
    if value == 'Others':
        return 1
    else:
        return 0
dff['Other'] = dff['additionalRoom'].apply(additional_room_sorted)

In [38]:
# Example: your DataFrame


# Step 1: Split the comma-separated strings into lists
dff['additionalRoom_list'] = dff['additionalRoom'].str.split(',')

# Step 2: Use MultiLabelBinarizer to one-hot encode the lists
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
one_hot = mlb.fit_transform(dff['additionalRoom_list'])

# Step 3: Create DataFrame with new columns
one_hot_df = pd.DataFrame(one_hot, columns=mlb.classes_)

# Step 4: Concatenate with original DataFrame if needed
dff_encoded = pd.concat([dff, one_hot_df], axis=1)

dff_encoded

,property_name,society,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,...,SuperBuildUp_adjusted_area,adjusted_price_per_sqft,Other,additionalRoom_list,Others,Pooja Room,Servant Room,Store Room,Study Room,unavailable
0,2 BHK Flat,maa bhagwati residency,2.0,2.0,1,unavailable,4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",...,1285.714286,3500.000000,0.0,[unavailable],0.0,0.0,0.0,0.0,0.0,1.0
1,2 BHK Flat,Apna Enclave,2.0,2.0,1,unavailable,1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",...,928.571429,5384.615385,0.0,[unavailable],0.0,0.0,0.0,0.0,0.0,1.0
2,2 BHK Flat,Tulsiani Easy in Homes,2.0,2.0,3,unavailable,12nd of 14 Floors,unavailable,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...",...,850.000000,4705.882353,0.0,[unavailable],0.0,0.0,0.0,0.0,0.0,1.0
3,2 BHK Flat,Smart World Orchard,2.0,2.0,2,Study Room,2nd of 4 Floors,unavailable,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",...,1714.285714,8575.000000,0.0,[Study Room],0.0,0.0,0.0,0.0,1.0,0.0
4,2 BHK Flat,Parkwood Westend,2.0,2.0,3,Study Room,5th of 8 Floors,unavailable,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",...,1479.500000,4731.328151,0.0,[Study Room],0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
2931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0
2950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
2963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
2964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0

In [40]:
dff_encoded.dropna(inplace= True)

In [41]:
dff_encoded.drop(columns = ['additionalRoom_list','Other'], axis = 0, inplace= True)

In [43]:
dff_encoded[['Others', 'Pooja Room','Servant Room', 'Study Room','unavailable','Store Room']]=dff_encoded[['Others', 'Pooja Room','Servant Room', 'Study Room','unavailable','Store Room']].astype(dtype= int)

In [46]:

# Define the regular expression to capture the numbers
# (\d+) captures a group of one or more digits
regex = r'(\d+)\w*\s+of\s+(\d+)\s+Floors'

# Use str.extract() to create two new columns from the captures
dff_encoded[['floor', 'total_floors']] = dff_encoded['floorNum'].str.extract(regex)

# Convert the new columns to a numeric type for calculations
dff_encoded['floor'] = pd.to_numeric(dff_encoded['floor'], errors='coerce')
dff_encoded['total_floors'] = pd.to_numeric(dff_encoded['total_floors'], errors='coerce')

# Display the final DataFrame
dff_encoded

,property_name,society,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,...,SuperBuildUp_adjusted_area,adjusted_price_per_sqft,Others,Pooja Room,Servant Room,Store Room,Study Room,unavailable,floor,total_floors
0,2 BHK Flat,maa bhagwati residency,2.0,2.0,1,unavailable,4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",...,1285.714286,3500.000000,0,0,0,0,0,1,4.0,4.0
1,2 BHK Flat,Apna Enclave,2.0,2.0,1,unavailable,1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",...,928.571429,5384.615385,0,0,0,0,0,1,1.0,3.0
2,2 BHK Flat,Tulsiani Easy in Homes,2.0,2.0,3,unavailable,12nd of 14 Floors,unavailable,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...",...,850.000000,4705.882353,0,0,0,0,0,1,12.0,14.0
3,2 BHK Flat,Smart World Orchard,2.0,2.0,2,Study Room,2nd of 4 Floors,unavailable,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",...,1714.285714,8575.000000,0,0,0,0,1,0,2.0,4.0
4,2 BHK Flat,Parkwood Westend,2.0,2.0,3,Study Room,5th of 8 Floors,unavailable,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",...,1479.500000,4731.328151,0,0,0,0,1,0,5.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2982,3 BHK Flat,Godrej Aria38,3.0,4.0,3+,Servant Room,10th of 15 Floors,unavailable,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...",...,3270.000000,5963.302752,0,0,1,0,0,0,10.0,15.0
2983,3 BHK Flat,Ansal Estella,3.0,3.0,3+,unavailable,6th of 18 Floors,unavailable,Under Construction,"['State bank ATM', 'Dr. Hitesh Dawar', 'Bhardw...",...,2471.428571,6069.364162,0,0,1,0,0,0,6.0,18.0
2984,4 BHK Flat,Chanderlok Society,4.0,2.0,3+,unavailable,1st of 2 Floors,unavailable,10+ Year Old,"['Iffco chowk metro station', 'Mg road metro s...",...,1777.142857,5064.308682,1,0,0,0,0,0,1.0,2.0
2985,3 BHK Flat,Jammu and Kashmir Bank Employees CGHS37,3.0,3.0,2,Others,5th of 5 Floors,West,5 to 10 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Shri...",...,1705.000000,5571.847507,1,1,1,0,1,0,5.0,5.0
2986,3 BHK Flat,ILD Greens41,3.0,3.0,3,unavailable,3rd of 15 Floors,unavailable,Under Construction,"['The Esplanade Mall', 'Gurgaon Road', 'Delhi ...",...,1980.000000,5050.505051,0,0,1,0,0,0,3.0,15.0

In [48]:
dff_encoded.drop(columns='floorNum', axis= 1, inplace = True)

In [49]:
dff_encoded.fillna({'floor': 0 }, inplace= True)

In [53]:
def flateage(value):
    value = value.lower().strip()  # make it lowercase for safe matching
    if '10 plus' in value or '10+ year old' in value:
        return 'old'
    elif '5 to 10 year old' in value:
        return 'mid-age'
    elif '1 to 5 year old' in value:
        return 'new'
    elif '0 to 1 year old' in value:
        return 'newly built'
    elif 'within 6 months' in value or 'within 3 months' in value or 'by 2023' in value or 'by 2024' in value or 'by 2025' in value or 'by 2027' in value or 'under construction' in value:
        return 'under construction'
    elif 'unavailable' in value or 'undefined' in value:
        return 'unknown'
    else:
        return 'under construction'

dff_encoded['agePossession'] = dff_encoded['agePossession'].apply(flateage)

In [56]:
high_value = ['AC', 'TV', 'Fridge', 'Washing Machine', 'Modular Kitchen', 'Chimney', 'Bed', 'Water Purifier', 'Sofa', 'Dining Table', 'Curtains']
mid_value = ['Wardrobe', 'Geyser', 'Stove', 'Exhaust Fan', 'Microwave']
basic = ['Fan', 'Light','Exhaust Fan']

def safe_eval(x):
    if isinstance(x, list):
        return x
    if not isinstance(x, str):
        return []
    try:
        return ast.literal_eval(x)
    except:
        return []

def score_furnish(x):
    items = safe_eval(x)
    if not items:
        return -1  # unavailable
    score = 0
    for item in items:
        parts = item.split()
        if len(parts) > 1:
            try:
                count = int(parts[0])
            except:
                count = 1
            label = ' '.join(parts[1:])
            if 'No' in label:
                continue
            if label in high_value:
                score += 2 * count
            elif label in mid_value:
                score += 1 * count
            elif label in basic:
                score += 0.5 * count
    return score

def categorize(score):
    if score == -1:
        return 'Unavailable'
    elif score >= 30:
        return 'Fancy'
    elif score >= 20:
        return 'Medium'
    elif score >= 10:
        return 'Normal'
    else:
        return 'Low'

In [57]:
dff_encoded['furnish_score'] = dff_encoded['furnishDetails'].apply(score_furnish)
dff_encoded['furnish_category'] = dff_encoded['furnish_score'].apply(categorize)

In [60]:
high_value = [
    'Centrally Air Conditioned', 'Private Garden / Terrace', 'Swimming Pool',
    'Club house / Community Center', 'Fitness Centre / GYM', 'Visitor Parking',
    'Spacious Interiors', 'Low Density Society''Power Back-up', 'Feng Shui / Vaastu Compliant',
    'Security / Fire Alarm','Intercom Facility', 'Lift(s)', 'Maintenance Staff','Bank Attached Property', 'Recently Renovated', 'Natural Light', 'Airy Rooms',
]

mid_value = [
    'Intercom Facility', 'Lift(s)', 'Maintenance Staff',
    'Security Personnel', 'Park', 'Shopping Centre',
    'Rain Water Harvesting', 'Water purifier', 'Piped-gas'
]

basic_value = [
    'Water Storage', 'Power Back-up', 'Feng Shui / Vaastu Compliant',
    'Security / Fire Alarm', 'False Ceiling Lighting',
    'No open drainage around', 'Waste Disposal', 'High Ceiling Height',
    'Bank Attached Property', 'Recently Renovated', 'Natural Light', 'Airy Rooms',
    'Separate entry for servant room'
]

def safe_eval(x):
    if isinstance(x, list):
        return x
    if isinstance(x, str):
        import ast
        try:
            return ast.literal_eval(x)
        except:
            return []
    return []

def score_amenities(x):
    items = safe_eval(x)
    score = 0
    for amenity in items:
        if amenity in high_value:
            score += 2
        elif amenity in mid_value:
            score += 1
        elif amenity in basic_value:
            score += 0.5
    return score

In [61]:
def categorize_amenities(score):
    if score >= 40:
        return 'Luxury'
    elif score >= 30:
        return 'Premium'
    elif score >= 20:
        return 'Good'
    elif score >= 10:
        return 'Basic'
    else:
        return 'Minimal'

In [62]:
dff_encoded['features_score'] = dff_encoded['features'].apply(score_amenities)
dff_encoded['features_category'] = dff_encoded['features_score'].apply(categorize_amenities)

In [67]:
# Function to get sum and average of scores
def extract_sum_avg(rating_str):
    try:
        # Parse the string safely
        items = ast.literal_eval(rating_str)
    except (ValueError, SyntaxError):
        return pd.Series([0, 0])  # fallback if bad row

    scores = []
    for item in items:
        try:
            # Example: 'Green Area4 out of 5'
            parts = item.split(' out of ')
            # Take score part (number before 'out of')
            score_str = parts[0][-3:].strip()
            if score_str.replace('.', '').isdigit():
                score = float(score_str)
            else:
                score = float(parts[1].split()[0])
            scores.append(score)
        except:
            continue  # skip any bad format

    total = sum(scores)
    avg = total / len(scores) if scores else 0
    return pd.Series([total, avg])

# Apply to the column
dff_encoded[['rating_sum', 'rating_avg']] = dff_encoded['rating'].apply(extract_sum_avg)

In [ ]:

dff_encoded.drop(columns =['nearbyLocations','furnishDetails','original_area','area_type','total_floors','features', 'rating','rating_avg'], axis = 1, inplace = True)

In [ ]:
dff_encoded.shape

In [ ]:
dff_encoded.to_csv('cleaned_flat_df.csv', sep=',', index= False,)